<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
</head>

<body>

  <div class="grid">

    <div class="badgeContainer-unearned-control">
      <img src="../assets/basicbadge.svg">
 
      <p>Unearned (Control)(Omit header title)</p>
    </div>

    <div class="badgeContainer-unearned">
      <img src="../assets/basicbadge.svg">
      <h1>Unearned (Test)</h1>
      <p>Donate more than $35 to Kiva</p>
    </div>

    <div class="badgeContainer-earned">
      <img src="../assets/earnedbadge.svg">
      <h1>Earned</h1>
      <p>Donate more than $35 to Kiva</p>
    </div>

    <div class="badgeContainer-justearned"><div class="justEarned bounce-1">
      <img src="../assets/earnedbadge.svg"></div>
      <h1>Recently Earned</h1>
      <p>Donate more than $35 to Kiva</p>
    </div>



  </div>




  {{ content}}
</body>

</html>